.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.navbar-dark {
  background-color: #512DA8;
}
.jumbotron {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.display{
  height:300px;
  overflow: hidden;
  overflow-y: scroll;
}

.display h3{
  text-align: center;
}
.test{
  background: #111;
  color: #5fff;
  border-radius:6px;
  padding: 20px 25px; 
}

/* the invoice style*/

#report{ 
font-family: "Calibri", Times, serif;
font-size: 14px;
}

.purpleLine{
  margin-top: 20px;
  width: auto;
  height: 10px;
  padding: 0px;
  /*border: 1px solid rgb(5, 2, 37);*/
  background-color: #1e094d;
}

.ashThinLine{
  width: auto;
  height: 5px;
  padding: 0px;
  /*border: 1px solid rgb(5, 2, 37);*/
  background-color: #a0a5a4;
}
.ashThickLine{
  margin-bottom: 10px;
  width: auto;
  height: 25px;
  padding: 0px;
  /*border: 1px solid rgb(5, 2, 37);*/
  background-color: #b3b8b7;
}

#report h4{
  font-size: 18px;
  color: green;
  font-weight: 600;
}

#report .invoice{
  font-size: 28px;
  font-weight: 900;
  color: blue;
}

#report h5{
  font-size: 18px;
  font-weight: 600; 
}

#report h6{
  font-size: 18px;
  color: blue;
  font-weight: 600;
}

#report span{ 
  font-weight: bold;
}

h6 span{
  font-size: 14px;
  font-weight: bold;
  color: black;
}

#report::before {
  content: "";
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /*background-color: rgba(231, 228, 228, 0.25);*/
  background-image: url('http://lecxis.github.io/Business-intel/assets/images/nwd_logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  height: 95%;
}

#report div{
  position: relative;
}

@media print {
@page {
  size: 160.5mm 260.15mm;
  margin: 0 5%;
}

.fifth{

  display: grid;
  column-gap: 0px;
  /* 
    border: 5px solid rgb(156, 12, 12);  
  grid-column-start: 1;
  grid-column-end: 2;
 grid-template-columns: 80px 20px auto;*/
  
}
.fifth .m-1{
 /* border: 5px solid rgb(4, 63, 26);*/  
  padding: 0px;
  margin: 0%;
}

#report { 
  font-size: 19px;
  }
  
  #report h4 {
    font-size: 25px;
  }

  #report .invoice{
    font-size: 35px;
    font-weight: 900;
    color: blue;
  }
  
  #report h5 {
    font-size: 19px;
    font-weight: 600;  
  }

  #report h6 {
    font-size: 22px;
    color: blue;
    font-weight: 600;
  }  

  #report h6 span{
  font-size: 23px;
  }

}

