.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.navbar-dark {
  background-color: #512DA8;
}
.jumbotron {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.display{
  height:300px;
  overflow: hidden;
  overflow-y: scroll;
}

.display h3{
  text-align: center;
}
.test{
  background: #111;
  color: #5fff;
  border-radius:6px;
  padding: 20px 25px;

  
}